<div class="modal">
  <ion-header-bar>
    <h1 class="title">About</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeAbout()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
	<div class="list">
	<label class="item item-input">
	  <span class="input-label">HMI5 Demonstration</span>
	</label>
	<label class="item item-input">
	  <span class="input-label">2.0.0</span>
	</label>
	<label class="item item-input">
	  <span class="input-label">&copy; 2014</span>
	</label>
	</div>
  </ion-content>
</div>
