<ion-view view-title="Bedroom">
  <ion-content>
		  
	<div class="card padding" >
		
		  <div class="item item-text-wrap">
			<center>
				<h1 style="font-size: 4em; color: #3979E3;">21.0 °C</h1>
			</center>
			<div class="range range-positive">
			  <i>10</i>
			  <input type="range" name="volume">
			  <i>30</i>
			</div>
		  </div>
		  
		<br />
		
		<div class="button-bar">
		  <a class="button">Cool</a>
		  <a class="button button-positive">Heat</a>
		</div>
		
		<br />
		<br />
		
		<div class="card">
		  <li class="item item-toggle">
			 Light
			 <label class="toggle">
			   <input type="checkbox">
			   <div class="track">
				 <div class="handle"></div>
			   </div>
			 </label>
		  </li>
		</div>

		
	</div>

  </ion-content>
</ion-view>
