<ion-view view-title="Settings">
  <ion-content class="padding">

	<ul class="list">
		
	  <li class="item item-toggle">
		 Show temperature
		 <label class="toggle toggle-positive">
		   <input type="checkbox">
		   <div class="track">
			 <div class="handle"></div>
		   </div>
		 </label>
	  </li>
	  
	  <li class="item item-toggle">
		 Show setpoint
		 <label class="toggle toggle-positive">
		   <input type="checkbox">
		   <div class="track">
			 <div class="handle"></div>
		   </div>
		 </label>
	  </li>
	  
	</ul>
	
	<a class="button button-calm" href="../../index.html">
	  Return to Home
	</a>

  </ion-content>
</ion-view>
